[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AIUQ"]
	path = AIUQ
	url = https://github.com/cran/AIUQ
[submodule "FastGaSP"]
	path = FastGaSP
	url = https://github.com/cran/FastGaSP
[submodule "RobustCalibration"]
	path = RobustCalibration
	url = https://github.com/cran/RobustCalibration
[submodule "RobustGaSP"]
	path = RobustGaSP
	url = https://github.com/cran/RobustGaSP
